<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hospital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctor</display-name>
    <servlet-name>AddDoctor</servlet-name>
    <servlet-class>AddDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctor</servlet-name>
    <url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArogya</display-name>
    <servlet-name>AddArogya</servlet-name>
    <servlet-class>AddArogya</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArogya</servlet-name>
    <url-pattern>/AddArogya</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArogyaLogin</display-name>
    <servlet-name>ArogyaLogin</servlet-name>
    <servlet-class>ArogyaLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArogyaLogin</servlet-name>
    <url-pattern>/ArogyaLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addpatient</display-name>
    <servlet-name>Addpatient</servlet-name>
    <servlet-class>Addpatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addpatient</servlet-name>
    <url-pattern>/Addpatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLogin</display-name>
    <servlet-name>DoctorLogin</servlet-name>
    <servlet-class>DoctorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogin</servlet-name>
    <url-pattern>/DoctorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorMenu</display-name>
    <servlet-name>DoctorMenu</servlet-name>
    <servlet-class>DoctorMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorMenu</servlet-name>
    <url-pattern>/DoctorMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateComment</display-name>
    <servlet-name>UpdateComment</servlet-name>
    <servlet-class>UpdateComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComment</servlet-name>
    <url-pattern>/UpdateComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatedComment</display-name>
    <servlet-name>UpdatedComment</servlet-name>
    <servlet-class>UpdatedComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatedComment</servlet-name>
    <url-pattern>/UpdatedComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prescription</display-name>
    <servlet-name>Prescription</servlet-name>
    <servlet-class>Prescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prescription</servlet-name>
    <url-pattern>/Prescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addpre</display-name>
    <servlet-name>Addpre</servlet-name>
    <servlet-class>Abc.Addpre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addpre</servlet-name>
    <url-pattern>/Addpre</url-pattern>
  </servlet-mapping>
</web-app>